*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.idea
.externalNativeBuild
.cxx
/gradle
gradlew
gradlew.bat
app/src/main/java/kr/devx/ttscomparator/Constants.java
